<%- include('../partials/head') %>
<%- include('../partials/header') %>


<section>
  <h2>Tu Carrito</h2>
  <div id="lista-carrito"></div>
  <h3 id="total"></h3>
  <button onclick="vaciarCarrito()">Vaciar Carrito</button>
</section>

<script>
  function mostrarCarrito() {
      let carrito = JSON.parse(localStorage.getItem('carrito')) || [];
      const listaCarrito = document.getElementById('lista-carrito');
      let total = 0;

      if (carrito.length === 0) {
          listaCarrito.innerHTML = '<p>No tienes productos en tu carrito aún.</p>';
          document.getElementById('total').textContent = '';
          return;
      }

      listaCarrito.innerHTML = carrito.map(item => `
          <div>
              <p>${item.producto} - $${item.precio}</p>
          </div>
      `).join('');

      total = carrito.reduce((acc, item) => acc + item.precio, 0);
      document.getElementById('total').textContent = `Total: $${total}`;
  }

  // Vaciar el carrito
  function vaciarCarrito() {
      localStorage.removeItem('carrito');
      mostrarCarrito();
      actualizarContadorCarrito();
  }

  mostrarCarrito();
</script>

<%- include('../partials/footer') %>

<!-- Incluimos el archivo scripts.js aquí -->
<script src="/js/scripts.js"></script>