/* Detalle del producto */
.product-detail {
    margin-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-name {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .product-info {
    display: flex;
    gap: 20px;
  }
  
  .product-image {
    width: 50%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-description {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
  }
  
  .product-price {
    font-size: 1.8em;
    color: #28a745;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .btn-primary,
  .btn-danger {
    padding: 10px 15px;
    text-align: center;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary {
    background-color: #28a745;
    color: white;
    margin-bottom: 10px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
  }
  
  .delete-form {
    margin-top: 20px;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .product-info {
      flex-direction: column;
      align-items: center;
    }
  
    .product-image,
    .product-details {
      width: 100%;
    }
  
    .product-price {
      text-align: center;
    }
  }
  