/* Estilos únicos para el perfil de usuario */

.profile-container {
    margin-top: 50px;
  }
  
  .profile-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  
  .profile-details {
    text-align: left;
    margin-top: 20px;
  }
  
  .profile-name,
  .profile-email {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .profile-image-label {
    margin-top: 20px;
    font-weight: bold;
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .no-user-message {
    color: red;
    margin-top: 20px;
  }
  
/* Estilo del botón de cerrar sesión similar al botón de agregar */
.profile-logout-btn {
  background-color: #28a745; /* Color de fondo verde */
  color: white; /* Color del texto en blanco */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar por el botón */
  text-align: center;
  display: inline-block;
  width: 150px; /* Ajustar el ancho del botón */
  text-decoration: none; /* Eliminar subrayado en el texto */
}

.profile-logout-btn:hover {
  background-color: #218838; /* Color verde más oscuro al hacer hover */
}

.profile-logout-btn:focus {
  outline: none; /* Eliminar el borde cuando el botón está enfocado */
}
