<%- include('./partials/head') %>
<%- include('./partials/header') %>

<section>
  <h2>Bienvenido a Materiales Vásquez</h2>
  <p>Encuentra los mejores materiales de construcción a los mejores precios.</p>
  <a href="productos.html" class="button">Ver Productos</a>
</section>
</body>
</html>

<%- include('./partials/footer') %>

