<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Materiales Vásquez</title>
  <link rel="stylesheet" href="/css/styles.css">
   <link rel="stylesheet" href="/css/carrito.css">
   <link rel="stylesheet" href="/css/detail.css">
   <link rel="stylesheet" href="/css/edit.css">
   <link rel="stylesheet" href="/css/registre.css">
   <link rel="stylesheet" href="/css/login.css">
   <link rel="stylesheet" href="/css/vcarrito.css">
   <link rel="stylesheet" href="/css/vdetalles.css">
   <link rel="stylesheet" href="/css/profile.css">
   <link rel="shortcut icon" href="/images/logoT.png" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>