<header>
  <div class="logo">
      <img src="/public/images/img/MV-VM-logo-design-vector-Graphics-17272413-1-312x208.jpg" alt="Materiales Vásquez Logo" />
  </div>
  <nav>
      <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/src/views/products">Productos</a></li>
      </ul>
  </nav>

<div class="header-right">
<ul>
  <li>
      <a href="carrito.html">
          <img src="../users/" alt="Carrito" class="carrito-icon">
          <span id="cart-count">0</span> <!-- Aquí se mostrará el número de artículos -->
      </a>
  </li>
  <li><a href="login.html">Iniciar Sesión</a></li>
</ul>
</div>

</header>